@font-face {
font-family: "OneDay";
src: url("../styles/font/ONEDAY.ttf");
}

@font-face {
font-family: "AgengSans";
src: url("../styles/font/agengsans.ttf");
}

body, html {
	width: 100%;
	height: 100%;	
}

.main-row {
    background-image:url(../images/bg-main.jpg); 
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.main-left-col {
	width: 35%;
	height: 100%;
	float: left;	
  	background-color: #fff;
}

.main-right-col {
	width: 65%;
	height: 100%;
	float: left;
}

.main-left-content {
	position: absolute;
    left: 15%;
  	top: 45%;
  	-webkit-transform: translate(-50%, -50%);
  	transform: translate(-50%, -50%);
}

.main-right-content {
	position: absolute;
    left: 70%;
  	top: 40%;
  	-webkit-transform: translate(-50%, -50%);
  	transform: translate(-50%, -50%);
}

.tagline {
	font-size: 150%;
	color: #fff;
}

.footer-row {
    background-image:url(../images/bg-footer.png); 
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 0.2%;
}

.footer-content {
	width: 90%;
	margin-left: 5%;
	margin-right: 5%;
	padding-top: 15%;
	text-align: center;
}

.footer-tagline {
	background-color: #FFF;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	height: auto;
	margin-left: 30%;
	margin-right: 30%;
}