@font-face {
font-family: "OneDay";
src: url("../styles/font/ONEDAY.ttf");
}

body, html {
	width: 99%;
	height: 97%;
	background: rgba(130,126,130,1);
background: -moz-linear-gradient(top, rgba(130,126,130,1) 0%, rgba(237,237,237,1) 0%, rgba(207,207,207,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(130,126,130,1)), color-stop(0%, rgba(237,237,237,1)), color-stop(100%, rgba(207,207,207,1)));
background: -webkit-linear-gradient(top, rgba(130,126,130,1) 0%, rgba(237,237,237,1) 0%, rgba(207,207,207,1) 100%);
background: -o-linear-gradient(top, rgba(130,126,130,1) 0%, rgba(237,237,237,1) 0%, rgba(207,207,207,1) 100%);
background: -ms-linear-gradient(top, rgba(130,126,130,1) 0%, rgba(237,237,237,1) 0%, rgba(207,207,207,1) 100%);
background: linear-gradient(to bottom, rgba(130,126,130,1) 0%, rgba(237,237,237,1) 0%, rgba(207,207,207,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#827e82', endColorstr='#cfcfcf', GradientType=0 );
}

.main-col {
	height: 100%;
	width: 48%;
	margin-left: 1%;
	margin-right: 1%;
	float: left;
}

.others-col {
	height: 100%;
	width: 48%;
	margin-right: 1%;
	float: left;
}

.box-main {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px;
    width: 98%;
    height: 98%;
    background-color: #242456;
    float: left;
    text-align: center;
}

.ticket {
    height: 46%;
    margin-top: 2%;
}

.ticket h3 {
	font-family: OneDay, Helvetica, Arial, sans-serif;
	font-size: 10vh;
	color: #d83153;
	vertical-align: top;
	margin-top: 0%;
	margin-bottom: 0%;
}

.ticket-main h1 {
	color: #FFF;
	font-size: 20vh;
	font-family: 'Stardos Stencil', cursive;
	margin-bottom: 0%;
	margin-top: 0%;
}

.counter {
	margin-top: 1%;
	height: 48%;
}

.counter h3 {
	font-family: OneDay, Helvetica, Arial, sans-serif;
	font-size: 6vh;
	color: #d83153;
	word-wrap: break-word;
	margin-left: 10%;
	margin-right: 10%;
	margin-top: 0%;
	margin-bottom: 0%;
}

.counter-main {
	margin-top: 5%;
}

.counter-main h1 {
	color: #FFF;
	font-size: 15vh;
	margin-top: 0%;
	margin-bottom: 0%;
	font-family: 'Stardos Stencil', cursive;
	line-height: 90%;
}

.counter-main h4 {
	color: #d83153;	
	font-family: OneDay, Helvetica, Arial, sans-serif;
	font-size: 3.5vh;
	margin-top: 5%;
}
/* OTHERS */

.time {
	margin-top: -5%;
	margin-bottom: -3%;
	margin-right: 13%;
	text-align: right;
	font-size: 4vh;
	font-family: 'Stardos Stencil', cursive;
}

.box-others {
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px;
    width: 68%;
    height: 21.95%;
    margin-left: 15%;
    margin-bottom: 1%;
    background-color: #FFF;
    color: #242456;
    padding-left: 2%;
    padding-right: 2%;
}

.title {
	font-family: OneDay, Helvetica, Arial, sans-serif;
	font-size: 5vh;
	color: #242456;
}

.number {
	font-family: 'Stardos Stencil', cursive;
	font-size: 5vh;
	color: #d83153;		
}


/*Manager Section*/

.main-col-mng {
	height: 95%;
	width: 48%;
	margin: 1%;
	float: left;
}

.others-col-mng {
	height: 95%;
	width: 48%;
	margin: 1%;
	float: left;
}

.box-main-mng {
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px;
    width: 98%;
    height: 92%;
    background-color: #242456;
    float: left;
    text-align: center;
}

.btn-mng {
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px;
    width: 68%;
    height: 17.5%;
    margin-left: 15%;
    margin-bottom: 1%;
    background-color: #FFF;
    float: left;
    padding-top: 5.5%;
    font-family: OneDay, Helvetica, Arial, sans-serif;
	font-size: 200%;
	color: #242456;
	text-align: center;
}

.btn-mng:hover {
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.5s;
    border-radius: 5px;
    width: 68%;
    height: 17.5%;
    margin-left: 15%;
    margin-bottom: 1%;
    background-color: #242456;
    float: left;
    padding-top: 5.5%;
    font-family: OneDay, Helvetica, Arial, sans-serif;
	font-size: 200%;
	color: #d83153;
	text-align: center;
}